* {
	font-family: open sans, sans-serif;
	z-index: 1;
}

nav {
	position: sticky;
	top: 0;
	height: 60px;
	background-color: white;
	z-index: 2;
}

.nav-logo {
	float: left;
}

.nav {
	background-color: white;
	padding: 5px;
	width: 100%;
	top: 0;

}

.right-nav {
	float: right;
	text-align: right;
	margin-right: 60px;
	height: 50px;
	font-weight: bold;
}

li {
	list-style-type: none;
	display: inline;
	font-size: 15px;
	top: 0;
}

.tuitt-button {
	border-radius: 50px;
	float: right;
    background-color: #c2195b;
    height: 40px;
    width: 140px;
    border-radius: 35px;
    color: white;
    font-weight: bold;
    border: 1px solid #c2195b;
}

#bg-image{
	float: right;
	background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	width: 100vw;
	background-size: 100%;
	height: 55vh;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
    color: white;
    text-align: right;
    margin-right: 100px;
	float: right;
}

.title {
    font-size: 30px;
    /text-indent:750px ;/
    font-family: 'Zilla Slab', serif;
	max-width: 30ch;
}

.subtitle {
	float: right;
    font-size: 18px;
     max-width: 40ch;
}

.apply-button {
	float: right;
    background-color: #c2195b;
    height: 35px;
    width: 140px;
    border-radius: 35px;
    color: white;
    border: 1px solid #c2195b;

}

.title-2 {
	text-align: center;
	padding-top: 100px;
}

.intro-description {
	text-align: center;
	padding-left: 10rem;
	padding-right: 10rem;
	margin-left: 10rem;
	margin-right: 10rem;
}


.pre-footer {
    background-color: #f7fbfb;
    padding: 1rem;
    text-align: center;
}

.prefooter-description {
	text-align: center;
	padding-left: 10rem;
	padding-right: 10rem;
	margin-left: 10rem;
	margin-right: 10rem;
}

.book-button {
    background-color: #336589;
    color: white;
    border-radius: 1rem;
    font-size: 1rem;
    width: 8rem;
    padding: .3rem;
    margin-top: 1rem;
    margin-bottom: 9rem;
}

.apply-button {
    background-color: #c2195b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 7px;
    border: none;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    width: 10rem;
}

.container {
	font-weight: normal;
	font-family: "Zilla Slab";
	font-size: 1em;
	margin-bottom: .5em;
	margin-left: 70%;
}

footer {
	text-align: center;
	margin-right: 50px;
	margin-left: 50px;
	padding-left: 50px;
	padding-right: 50px;
}